.font{
    font: italic;
}

.header{
    text-align: center;
    color: brown;
}

.background{
    background-color: antiquewhite;
}

.instruct{
    text-align: center;
    font: italic;
}

.underline{
    text-decoration: underline;
}

.font-size{
    font-size: medium;
}